body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background: rgb(8,8,8);
    background: linear-gradient(90deg, rgba(8,8,8,1) 0%, rgba(96,96,96,1) 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
}
section {
    padding: 2px;
    text-align: center;
}
#mainresults {
    float:left;
    border-width:2px;
    border-style:solid;
    border-color:black;
    background-color: rgb(189, 189, 189);
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    position: static;
}
/* footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
} */
#URL_Form {
    text-align: center;
}
#clean_url, #non_latin, #GoogleSafeBrowsing_Result, #whois_result {
    text-align: center;
    width: 100%;
}
p {
    font-size: large;
}
input[type=text] {
    padding: 5px;
    width: 200px;
    box-sizing: border-box;
}
input[type="submit"] {
    --bg: #747474;
    --text-color: #fff;
    position: relative;
    width: 100px;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    padding: 6px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
}
input[type="submit"]:hover {
    opacity: 1;
}
input[type="submit"]:active {
    top: 4px;
}
#entered_url {
    font-size: 15px;
}
#Tools_description{
    float: right;
    margin-right: 150px;
    text-align: left;
}
#description {
    margin-right: 4%;
    margin-left: 4%;
    padding-top: 20px;
}