body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
section {
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
#myForm {
    text-align: center;
}
#clean_url, #non_latin, #GoogleSafeBrowsing_Result, #whois_result {
    text-align: center;
    width: 100%;
}
